.nav-link:hover{
    color : white;
    border-bottom: 2px solid white;
}
.nav-link{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
p{
    color:white;
}
.sideBar{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 260px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('../../image/sidebar.jpg');
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.6), 0 4px 25px 0 rgba(0,0,0,.7), 0 8px 10px -5px rgba(0,0,0,.2);
}
.iconic{
    border-bottom: 1px solid white;
    color:white;
    margin:0;
    font-size:30px;
    line-height:1.8;
    letter-spacing: 1px;
}
.footer{
    margin-top:290px;
    border-top: 1px solid white;
    color:white;
    text-align:center;
    font-size:30px;
    line-height:1.8;
    letter-spacing: 1px;
}
